# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
/frontend-lotsofai/node_modules/

# Expo
/frontend-lotsofai/.expo/
/frontend-lotsofai/dist/
/frontend-lotsofai/web-build/

# Native
/frontend-lotsofai/*.orig.*
/frontend-lotsofai/*.jks
/frontend-lotsofai/*.p8
/frontend-lotsofai/*.p12
/frontend-lotsofai/*.key
/frontend-lotsofai/*.mobileprovision

# Metro
/frontend-lotsofai/.metro-health-check*

# debug
/frontend-lotsofai/npm-debug.*
/frontend-lotsofai/yarn-debug.*
/frontend-lotsofai/yarn-error.*

# macOS
/frontend-lotsofai/.DS_Store
/frontend-lotsofai/*.pem

# local env files
/frontend-lotsofai/.env*.local
/frontend-lotsofai/env.js

# typescript
/frontend-lotsofai/*.tsbuildinfo

/backend/.env
